<div class="dropdown-wrapper">
  <i class="icon-upload pointer mr-10" (click)="toggle()"></i>

  <div class="dropdown well note-share-dropdown" *ngIf="showDropdown">
    <div class="pt-5 pb-5 pl-15 pr-15 br-b">
      <b>Share</b>
    </div>

    <div class="p-10" fxLayout="row" fxLayoutAlign="space-around">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="mb-5">Via email</div>
        <div class="note-share email">
          <i class="icon-envelope"></i>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="mb-5">Via Synumatic app</div>
        <div class="note-share app">
          S
        </div>
      </div>
    </div>
  </div>
</div>
