<div class="well content content-sm pt-10 pb-10 pl-15 pr-15">
  <app-menu-actions [showSave]="true" [saving]="saving" (back)="goBack()" (save)="save()"></app-menu-actions>

  <div class="mt-15" [formGroup]="reminderForm">
    <h2 class="mb-15">Set reminder</h2>

    <div class="mb-10" fxLayout="row">
      <div fxFlex="50">Reminder date:</div>
      <div fxFlex="50">
        <app-datepicker-input
          [timestamp]="getValue('date')"
          (selectDate)="onSelectDate($event)">
        </app-datepicker-input>
      </div>
    </div>

    <div class="mb-10" fxLayout="row">
      <div fxFlex="50">Reminder time:</div>
      <div fxFlex="50">
        <input type="text" class="clean" formControlName="time">
      </div>
    </div>

    <div class="mb-10" fxLayout="row">
      <div fxFlex="50">Repeat:</div>
      <div fxFlex="50">
        <app-reminder-repeat-dropdown
          [value]="getValue('repeat')"
          (select)="setValue('repeat', $event)">
        </app-reminder-repeat-dropdown>
      </div>
    </div>
  </div>

</div>
