@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?63261117');
  src: url('../font/fontello.eot?63261117#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?63261117') format('woff2'),
       url('../font/fontello.woff?63261117') format('woff'),
       url('../font/fontello.ttf?63261117') format('truetype'),
       url('../font/fontello.svg?63261117#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?63261117#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bug:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-eraser:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-alarm:before { content: '\e804'; } /* '' */
.icon-paint:before { content: '\e805'; } /* '' */
.icon-pen-alt:before { content: '\e806'; } /* '' */
.icon-question:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-send:before { content: '\e809'; } /* '' */
.icon-new:before { content: '\e80a'; } /* '' */
.icon-comments:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-share-screen:before { content: '\e811'; } /* '' */
.icon-tools:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-tasks:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-calculate:before { content: '\e816'; } /* '' */
.icon-smile:before { content: '\e817'; } /* '' */
.icon-pi:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-video:before { content: '\e81a'; } /* '' */
.icon-screen:before { content: '\e81b'; } /* '' */
.icon-attach:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-filter:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-photo:before { content: '\e820'; } /* '' */
.icon-microphone:before { content: '\e821'; } /* '' */
.icon-image:before { content: '\e822'; } /* '' */
.icon-table:before { content: '\e823'; } /* '' */
.icon-list:before { content: '\e824'; } /* '' */
.icon-pen:before { content: '\e825'; } /* '' */
.icon-comment:before { content: '\e826'; } /* '' */
.icon-comments-alt:before { content: '\e827'; } /* '' */
.icon-envelope:before { content: '\e828'; } /* '' */