
.icon-bug:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-eraser:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-alarm:before { content: '\e804'; } /* '' */
.icon-paint:before { content: '\e805'; } /* '' */
.icon-pen-alt:before { content: '\e806'; } /* '' */
.icon-question:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-send:before { content: '\e809'; } /* '' */
.icon-new:before { content: '\e80a'; } /* '' */
.icon-comments:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-camera:before { content: '\e80f'; } /* '' */
.icon-tag:before { content: '\e810'; } /* '' */
.icon-share-screen:before { content: '\e811'; } /* '' */
.icon-tools:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-tasks:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-calculate:before { content: '\e816'; } /* '' */
.icon-smile:before { content: '\e817'; } /* '' */
.icon-pi:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-video:before { content: '\e81a'; } /* '' */
.icon-screen:before { content: '\e81b'; } /* '' */
.icon-attach:before { content: '\e81c'; } /* '' */
.icon-arrow-right:before { content: '\e81d'; } /* '' */
.icon-filter:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-photo:before { content: '\e820'; } /* '' */
.icon-microphone:before { content: '\e821'; } /* '' */
.icon-image:before { content: '\e822'; } /* '' */
.icon-table:before { content: '\e823'; } /* '' */
.icon-list:before { content: '\e824'; } /* '' */
.icon-pen:before { content: '\e825'; } /* '' */
.icon-comment:before { content: '\e826'; } /* '' */
.icon-comments-alt:before { content: '\e827'; } /* '' */
.icon-envelope:before { content: '\e828'; } /* '' */