<div class="note-actions" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="center center">
    <ng-content></ng-content>
    <i class="icon-trash pointer mr-10" (click)="delete.next()"></i>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <app-note-share></app-note-share>

    <i class="icon-bell pointer mr-10" *ngIf="isEdit" (click)="setReminder.next()"></i>

    <app-attach-dropdown></app-attach-dropdown>
  </div>
</div>
