<div [formGroup]="formGroup">
  <div class="mb-10" fxLayout="column" fxLayoutAlign="center center">
    <button class="recording start mb-10" *ngIf="!recording" (click)="startRecording()">
      <i class="icon-microphone"></i>
    </button>

    <button class="recording stop mb-10" *ngIf="recording" (click)="stopRecording()">
      <fa-icon icon="stop"></fa-icon>
    </button>

    <div>{{recordingTimer}}</div>
  </div>

  <div class="mb-10">
    <app-audio *ngIf="getUrl()" [url]="getUrl()"></app-audio>
  </div>

  <textarea class="clean mb-10" formControlName="body" placeholder="Note text" rows="10"></textarea>
</div>
