<div>
  <app-menu-actions (back)="goBack()"></app-menu-actions>

  <div class="well content">

    <div class="p-15 br-b header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>All notes</h1>
      <div fxLayout="row">
        <app-search-panel
          [searchTerm]="searchTerm"
          (updateSearch)="onUpdateSearch($event)">
        </app-search-panel>

        <app-filter-dropdown
          [options]="sortOptions"
          [selectedOption]="sortOption"
          (select)="onSelectSortOption($event)">
        </app-filter-dropdown>
      </div>
    </div>

    <div class="p-20" *ngIf="!notes">Loading...</div>
    <div class="p-20" *ngIf="notes && !notes.length">Nothing to show</div>

    <app-note-list
      *ngIf="notes && notes.length"
      [notes]="notes | noteSearch:searchTerm | orderBy:sortOption.field:sortOption.reverse:sortOption.caseInsensitive">
    </app-note-list>

    <div class="p-20 br-t" fxLayout="row" fxLayoutAlign="flex-end">
      <app-new-note-dropdown></app-new-note-dropdown>
    </div>
  </div>
</div>
