<app-options-dropdown [options]="options" (select)="select.next($event)">
  <b class="mr-5" *ngIf="!option">Select</b>
  <i class="mr-5" [ngClass]="option.icon" *ngIf="option"></i>
  <b class="mr-5" *ngIf="option">{{option.caption}}</b>
  <fa-icon icon="chevron-down" size="xs"></fa-icon>
</app-options-dropdown>
