<div class="confirm-exit well clearfix p-15">
  <h2 class="mb-10">
    <ng-content></ng-content>
  </h2>
  <div class="pull-right">
    <button type="button" class="btn btn-default mr-10" (click)="cancel.next()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirm.next()">Ok</button>
  </div>
</div>
