<div class="widget-wrapper">
  <div [hidden]="isPopupShown">
    <button type="button" class="action-button" (click)="toggle()">
      <i class="icon-comment"></i>
    </button>
  </div>

  <div class="popup" [hidden]="!isPopupShown">
    <router-outlet name="outlet"></router-outlet>
  </div>
</div>
