* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  outline: none;
  line-height: 1.2;
}

.widget-wrapper {
  color: #3E3E3E;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

.d-inline-block {
  display: inline-block;
}

.text-muted {
  color: #898989 !important;
}

input[type="text"], textarea {
  font-size: 12px;
  width: 100%;
}

input[type="text"]::placeholder, textarea::placeholder {
  font-size: 12px;
}

textarea {
  resize: none;
}

.custom-checkbox input {
  position: relative;
  z-index: -9999;
}

.custom-checkbox span {
  width: 14px;
  height: 14px;
  margin-left: -14px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../assets/img/checkbox-unchecked.png");
}

.custom-checkbox input:checked + span {
  background: url("../../assets/img/checkbox-checked.png");
}

.custom-checkbox input:disabled + span {
  opacity: 0.5;
}

.custom-radio input {
  visibility:  hidden;
}

.custom-radio span {
  width: 14px;
  height: 14px;
  margin-left: -14px;
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../assets/img/radio-unchecked.png");
}

.custom-radio input:checked + span {
  background: url("../../assets/img/radio-checked.png");
}

.custom-radio input:disabled {
  opacity: 0.5;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.m-5 {
  margin: 5px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.m-15 {
  margin: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.m-30 {
  margin: 30px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.p-25 {
  padding: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.text-sm {
  font-size: 11px !important;
}

.radius-sm {
  border-radius: 5px !important;
}

.radius-md {
  border-radius: 10px !important;
}

.br-t {
  border-top: 1px solid #DFDFDF;
}

.br-b {
  border-bottom: 1px solid #DFDFDF;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.va-top {
  vertical-align: top;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.line-through {
  text-decoration: line-through;
}

input.clean, textarea.clean {
  background: none;
  border: none;
  outline: none;
}

input[type="text"].text-b {
  color: #3E3E3E;
  font-weight: bold;
}

input[type="text"].text-lg {
  color: #3E3E3E;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"].text-lg::placeholder {
  color: #3E3E3E;
  font-size: 16px;
}

.well {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px #00000026;
  border-radius: 15px;
}

.pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  background: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #cecece;
  border-radius: 10px;
}


.widget-wrapper {
  font-family: Arial;
  position: fixed;
  bottom: 23px;
  right: 14px;
}

.action-button {
  background: transparent linear-gradient(328deg, #FFFFFF 0%, #FBFBFB 41%, #F2F2F2 72%, #E2E2E2 100%) 0% 0% no-repeat;
  border-radius: 50%;
  border: 1px #fff solid;
  box-shadow: 0px 4px 20px #00000026;
  cursor: pointer;
  height: 71px;
  width: 71px;
}

.action-button i {
  font-size: 17px;
  color: #333;
  position: relative;
  top: 4px;
}

.menu-wrapper {
  width: 225px;
  height: 358px;
  padding: 23px 20px 20px 20px;
}

.menu-action {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #00000026;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

app-menu-actions .menu-action {
  margin-right: 12px;
}

app-menu-actions .menu-action.close-action  {
  margin-right: 0;
}

.menu-content {
  background: #FAFAFA;
  border: none;
  color: #707070;
  outline: none !important;
}

.menu-content {
  box-shadow: rgba(0,0,0,0.2) 0 10px 10px;
  border-radius: 10px;
  padding: 10px;
}

.menu app-menu-item:nth-child(odd) .menu-item {
  margin-right: 5px;
}

.menu-item {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 10px #00000026;
  border-radius: 15px;
  transition: 0.5s all;
  margin-bottom: 5px;
}

.menu-item:hover {
  transform: translate(0, -5px);
  background: #fff;
}

.menu-item i {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}

.popup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.content {
  width: 307px;
  min-height: 345px;
}

.content-sm {
  width: 280px;
}

.menu-content a {
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.add-types {
  margin-bottom: 10px;
}

.add-types a {
  margin-right: 30px;
}

.header i {
  font-size: 16px;
}

.items-list {
  overflow: auto;
}

.note {
  cursor: pointer;
}

.note i {
  font-size: 17px;
}

.note-actions i {
  font-size: 18px;
}

.note-actions .icon-image {
  font-size: 15px;
}

.note-info {
  font-size: 12px;
}

.new-note-dropdown {
  top: auto;
  bottom: 0;
  left: -135px;
  width: 165px;
}

.search-panel i, .search-panel a, .search-panel input[type="text"], .search-panel input[type="text"]::placeholder {
  color: #A5A5A5;
}

.canvas {
  cursor: url('../../assets/img/pen-sm.png'), crosshair;
  margin-bottom: 20px;
}

.canvas.eraser {
  cursor: url('../../assets/img/circle.png'), crosshair;
}

.color-choice {
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.color-option {
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: inline-block;
  font-size: 0;
}

button.recording {
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
}

button.recording.stop {
  background: #F47B7B;
  box-shadow: 0 0 0 rgba(244,123,123, 0.4);
  animation: pulse 2s infinite;
}

button.recording.start {
  background: #000;
}

button.recording.start i {
  font-size: 18px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,123,123,0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(244,123,123,0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,123,123,0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(244,123,123,0.4);
    box-shadow: 0 0 0 0 rgba(244,123,123,0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(244,123,123,0);
    box-shadow: 0 0 0 10px rgba(244,123,123,0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(244,123,123,0);
    box-shadow: 0 0 0 0 rgba(244,123,123,0);
  }
}

.reminder-repeat-dropdown {
  top: 0;
  left: 0;
  min-width: 100px;
}

.set-reminder {
  padding-bottom: 80px;
}

.truncate {
  width: 247px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

audio {
  width: 100%;
}

.new-checklist input {
  width: auto;
}

.notes-list {
  overflow: auto;
}

.note-share-dropdown {
  width: 255px;
  bottom: 0;
  top: auto;
  left: -125px;
}

.note-share {
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}

.note-share.email {
  background: #5A5A5A;
}

.note-share.email i {
  position: relative;
  left: -3px;
}

.note-share.app {
  background: #31B9CB;
  font-size: 30px;
}

.priority {
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  width: 50px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}

.priority.high {
  background-color: #F7E3DE;
}

.priority.normal {
  background-color: #F7F2DC;
}

.priority.low {
  background-color: #E3F4DF;
}

.textarea-wrapper {
  border: 1px solid #CECECE;
  border-radius: 10px;
}

.textarea-wrapper textarea {
  padding: 10px;
}

.textarea-wrapper i {
  font-size: 17px;
}

.attach-dropdown, .select-user-dropdown, .tag-user-dropdown {
  width: 150px;
}

.date-input {
  width: 65px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 20px #00000026;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0 !important;
  min-width: auto;
  overflow: hidden;
}

.dropdown-menu.dropdown-lg {
  min-width: 145px;
}

.dropdown-menu .option {
  background: #fff;
}

.dropdown-menu .option:hover {
  background: #DFDFDF;
}

.option i {
  font-size: 17px;
  display: inline-block;
  width: 23px;
}

.filter-dropdown {
  width: 273px;
  top: -28px !important;
  left: -3px !important;
  border-radius: 15px;
}

.priority-dropdown {
  width: 70px !important;
}

.search-panel {
  width: 273px;
  top: -28px !important;
  left: 19px !important;
  border-radius: 20px;
}

.color-picker-dropdown {
  padding: 2px !important;
  width: 204px;
  font-size: 0;
}

.user-dropdown {
  min-height: 100px;
}

.confirm-exit {
  position: absolute;
  width: 248px;
  top: 50px;
  left: 15px;
  z-index: 999;
}

.green-audio-player {
  min-width: auto;
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.green-audio-player .holder .play-pause-btn svg{
  height:18px;
}

.green-audio-player .volume .volume__button svg{
  height:18px;
}

.green-audio-player .volume .volume__controls.top{
  bottom: 36px;
  left:2px;
}
.green-audio-player .volume .volume__controls{
  width: 20px;
  height:80px;
}

.green-audio-player .controls{
  margin-left:4px;
  margin-right:10px;
}

.green-audio-player .controls .controls__current-time{
  display:none;
}

.green-audio-player .controls .controls__total-time{

}

