<div class="menu-wrapper well">
  <app-menu-actions [showBack]="false"></app-menu-actions>
  <div class="menu" fxLayout="row wrap">
    <app-menu-item
      *ngFor="let item of items"
      [item]="item"
      [routerLink]="[{outlets: {outlet: item.route}}]">
    </app-menu-item>
  </div>
</div>
