<app-confirm-exit *ngIf="showExitConfirmation" (confirm)="onConfirmExit()" (cancel)="onCancelExit()"></app-confirm-exit>

<app-confirm-delete *ngIf="showDeleteConfirmation" (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()"></app-confirm-delete>

<app-menu-actions [showSave]="true" [saving]="saving" (back)="goBack()" (save)="save()"></app-menu-actions>

<div class="well content content-sm p-15" *ngIf="itemForm" [formGroup]="itemForm">
  <input type="text" class="text-lg clean mb-15" *ngIf="type === 'task'" formControlName="title">

  <div class="mb-10" fxLayout="row" *ngIf="type === 'ticket'">
    <div fxFlex="30">Title</div>
    <div fxFlex="70">
      <input type="text" class="clean text-b" placeholder="Title" formControlName="title">
    </div>
  </div>

  <div class="mb-10" fxLayout="row" *ngIf="itemForm.get('assignedUserId')">
    <div fxFlex="30">
      <div>Assigned to</div>
    </div>
    <div fxFlex="70">
      <app-select-user-dropdown
        [userId]="getValue('assignedUserId')"
        (select)="setValue('assignedUserId', $event)">
      </app-select-user-dropdown>
    </div>
  </div>

  <div class="mb-10" fxLayout="row">
    <div fxFlex="30">
      <div>Status</div>
    </div>
    <div fxFlex="70">
      <app-status-dropdown
        [status]="getValue('status')"
        (select)="setValue('status', $event)">
      </app-status-dropdown>
    </div>
  </div>

  <div class="mb-10" fxLayout="row" *ngIf="itemForm.get('dueDate')">
    <div fxFlex="30">
      <div>Due date</div>
    </div>
    <div fxFlex="70">
      <app-datepicker-dropdown [timestamp]="getValue('dueDate')" (selectDate)="onSelectDueDate($event)">
        {{ getValue('dueDate') | amDateFormat: 'DD MMM YYYY'}}
      </app-datepicker-dropdown>
    </div>
  </div>

  <div class="mb-10" fxLayout="row" *ngIf="type === 'task'">
    <div fxFlex="30">
      <div>Created on</div>
    </div>
    <div fxFlex="70">
      {{ item.createdTimestamp | amDateFormat: 'DD MMM YYYY'}}
    </div>
  </div>

  <div class="mb-10" fxLayout="row" *ngIf="itemForm.get('type')">
    <div fxFlex="30">
      <div>Type</div>
    </div>
    <div fxFlex="70">
      <app-ticket-type-dropdown
        [type]="getValue('type')"
        (select)="setValue('type', $event)">
      </app-ticket-type-dropdown>
    </div>
  </div>

  <div class="mb-10" fxLayout="row">
    <div fxFlex="30">
      <div>Set priority</div>
    </div>
    <div fxFlex="70">
      <app-priority-dropdown
        [priority]="getValue('priority')"
        (select)="setValue('priority', $event)">
      </app-priority-dropdown>
    </div>
  </div>

  <div class="mb-10">
    <app-textbox [formGroup]="itemForm"></app-textbox>
  </div>

  <div>
    <i class="icon-trash pointer" (click)="delete()"></i>
  </div>
</div>
