<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <i class="icon-filter pointer"></i>
  </div>
  <div class="filter-dropdown" ngbDropdownMenu>
    <div class="p-10">
      <div class="mb-10">Sort by:</div>
      <div class="mb-10" *ngFor="let option of options">
        <label class="custom-radio mr-10">
          <input type="radio"
                 [id]="option.field"
                 [checked]="isSelected(option)"
                 (click)="select.next(option); drop.toggle()">
          <span></span>
        </label>
        <label [for]="option.field">{{ option.caption }}</label>
      </div>
    </div>
  </div>
</div>

