<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div class="pointer" ngbDropdownAnchor (click)="drop.toggle()">
    <ng-content></ng-content>
  </div>
  <div class="dropdown-lg" ngbDropdownMenu>
    <div class="pt-5 pb-5 pr-15 pl-15" fxLayout="row" fxLayoutAlign="flex-end" *ngIf="showCancel">
      <div class="pointer text-muted" (click)="drop.toggle()">Cancel</div>
    </div>
    <ul>
      <li class="option pointer pt-5 pb-5 pr-15 pl-15"
          *ngFor="let option of options"
          (click)="selectOption(option); drop.toggle()">

        <i class="mr-5" *ngIf="option.icon" [ngClass]="option.icon"></i>
        {{option.caption}}

      </li>
    </ul>
  </div>
</div>

