<div class="mb-5" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row">
    <div class="menu-action" (click)="back.next()" *ngIf="showBack && showSave">
      <fa-icon icon="chevron-left"></fa-icon>
    </div>

    <div class="menu-action" *ngIf="showSave" (click)="save.next()">
      <fa-icon icon="check" *ngIf="!saving"></fa-icon>
      <fa-icon icon="spinner" *ngIf="saving" [spin]="true"></fa-icon>
    </div>
  </div>

  <div fxLayout="row">
    <div class="menu-action" (click)="back.next()" *ngIf="showBack && !showSave">
      <fa-icon icon="chevron-left"></fa-icon>
    </div>

    <div class="menu-action close-action" (click)="close()">
      <fa-icon icon="times"></fa-icon>
    </div>
  </div>
</div>
