<div>
  <div class="well p-10 pointer" (click)="view()">
    <div class="mb-5" *ngIf="type === 'task'">Assigned:
      <span class="text-muted" *ngIf="item.assignedUserId">{{getAssignedUsername()}}</span>
      <span class="text-muted" *ngIf="!item.assignedUserId">-</span>
    </div>
    <h2 class="mb-10 truncate" *ngIf="item.title">{{item.title}}</h2>
    <h2 class="mb-10" *ngIf="!item.title">{{item.type === 'task' ? 'Task' : 'Ticket'}}</h2>
    <div fxLayout="row">
      <div fxFlex="60">
        <div class="mb-5" *ngIf="type === 'task'">
          <span class="mr-5 text-muted">Due date:</span>
          <b *ngIf="item.dueDate"> {{ item.dueDate | amDateFormat: 'DD MMM YYYY'}}</b>
          <b *ngIf="!item.dueDate">-</b>
        </div>

        <div class="mb-5" *ngIf="type === 'ticket'">
          <span class="mr-5 text-muted">Type:</span>
          <i *ngIf="item.type" [ngClass]="getTicketType(item.type).icon"></i>
          <b *ngIf="item.type"> {{ getTicketType(item.type).caption }}</b>
          <b *ngIf="!item.type">-</b>
        </div>

        <div>
          <span class="mr-5 text-muted">Priority:</span>
          <b *ngIf="item.priority">{{item.priority | titlecase}}</b>
          <b *ngIf="!item.priority">-</b>
        </div>
      </div>
      <div fxFlex="40" fxLayout="row" fxLayoutAlign="end end">
        Status:&nbsp;
        <b *ngIf="item.status">{{item.status | titlecase}}</b>
        <b *ngIf="!item.status">-</b>
      </div>
    </div>
  </div>
</div>
