<div class="textarea-wrapper" [formGroup]="formGroup">
  <textarea class="clean" rows="12" placeholder="Description" formControlName="description"></textarea>

  <div class="mb-10" fxLayout="row" fxLayoutAlign="flex-end">
    <i class="icon-smile mr-10 pointer"></i>
    <div class="mr-10">
      <app-tag-user-dropdown></app-tag-user-dropdown>
    </div>
    <i class="icon-microphone mr-10 pointer"></i>
    <app-attach-dropdown></app-attach-dropdown>
  </div>
</div>
