<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <div class="color-choice" [style.background]="selectedColor"></div>
  </div>
  <div class="color-picker-dropdown" ngbDropdownMenu>
    <div class="color-option"
         *ngFor="let color of colors"
         [style.background]="color"
         (click)="changeColor.next(color); drop.toggle()"></div>
  </div>
</div>


