<div>
  <app-menu-actions (back)="goBack()"></app-menu-actions>

  <div class="well content">

    <div class="pt-15 pl-15 pr-15 pb-5 header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>All {{type}}s</h1>
      <div fxLayout="row">
        <app-search-panel
          [searchTerm]="searchTerm"
          (updateSearch)="onUpdateSearch($event)">
        </app-search-panel>

        <app-filter-dropdown
          [options]="sortOptions"
          [selectedOption]="sortOption"
          (select)="onSelectSortOption($event)">
        </app-filter-dropdown>
      </div>
    </div>

    <div class="p-15" *ngIf="!items">Loading...</div>
    <div class="p-15" *ngIf="items && !items.length">Nothing to show</div>

    <div>
      <app-items-list
        *ngIf="items && items.length"
        [type]="type"
        [items]="items | itemsSearch:searchTerm | orderBy:sortOption.field:sortOption.reverse:sortOption.caseInsensitive:sortOption.comparator">
      </app-items-list>
    </div>

    <div class="pt-25 pb-25 pl-15 pr-15" fxLayout="row" fxLayoutAlign="flex-end">
      <div class="menu-action" (click)="add()">
        <fa-icon icon="plus"></fa-icon>
      </div>
    </div>
  </div>
</div>
