<div fxLayout="column" cdkDropList (cdkDropListDropped)="dropItem($event)">

  <ul [formGroup]="formGroup">
    <li class="mb-10"
        formArrayName="checklist"
        *ngFor="let item of getChecklist(); let i = index;"
        cdkDrag>

      <div [formGroupName]="i">
        <fa-icon icon="arrows-alt-v" class="pointer mr-10" cdkDragHandle></fa-icon>
        <label class="custom-checkbox mr-10">
          <input type="checkbox" formControlName="done">
          <span></span>
        </label>
        <span class="mr-10 text-muted" [class]="{'line-through': item.get('done').value}">{{item.get('text').value}}</span>
        <fa-icon class="pull-right text-muted" (click)="removeItem(i)" icon="times"></fa-icon>
      </div>
    </li>
  </ul>

  <div class="mb-10 new-checklist">
    <fa-icon icon="arrows-alt-v" class="pointer mr-10" cdkDragHandle></fa-icon>
    <label class="custom-checkbox mr-10">
      <input type="checkbox" disabled>
      <span></span>
    </label>
    <input type="text" class="clean" placeholder="Add item" [(ngModel)]="newItem" (keyup.enter)="addItem()">
  </div>

</div>
