<app-menu-actions [showSave]="true" [saving]="saving" (back)="goBack()" (save)="save()"></app-menu-actions>
<div class="well content content-sm pt-25 pb-25 pl-15 pr-15" *ngIf="itemForm" [formGroup]="itemForm">

  <div class="mb-15" fxLayout="row">
    <div fxFlex="30">Title</div>
    <div fxFlex="70">
      <input type="text" class="clean text-b" placeholder="Title" formControlName="title">
    </div>
  </div>

  <div class="mb-15" fxLayout="row" *ngIf="itemForm.get('assignedUserId')">
    <div fxFlex="30">Assign to</div>
    <div fxFlex="70">
      <app-select-user-dropdown
        [showDropdownIcon]="true"
        [userId]="getValue('assignedUserId')"
        (select)="setValue('assignedUserId', $event)">
      </app-select-user-dropdown>
    </div>
  </div>

  <div class="mb-15" fxLayout="row" *ngIf="itemForm.get('type')">
    <div fxFlex="30">Type</div>
    <div fxFlex="70">
      <app-ticket-type-dropdown
        [type]="getValue('type')"
        (select)="setValue('type', $event)">
      </app-ticket-type-dropdown>
    </div>
  </div>

  <div class="mb-15" fxLayout="row" *ngIf="itemForm.get('dueDate')">
    <div fxFlex="30">
      <div>Due date</div>
      <div class="text-muted">(optional)</div>
    </div>
    <div fxFlex="70">
      <app-datepicker-input
        [timestamp]="getValue('dueDate')"
        (selectDate)="onSelectDueDate($event)">
      </app-datepicker-input>
    </div>
  </div>

  <div class="mb-15" fxLayout="row">
    <div fxFlex="30">Set priority</div>
    <div fxFlex="70">
      <app-priority-dropdown
        [priority]="getValue('priority')"
        (select)="setValue('priority', $event)">
      </app-priority-dropdown>
    </div>
  </div>

  <app-textbox [formGroup]="itemForm"></app-textbox>

</div>
