<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <span class="priority mr-5" [ngClass]="priority">{{priority | titlecase}}</span>
    <fa-icon icon="chevron-down" size="xs"></fa-icon>
  </div>
  <div class="priority-dropdown" ngbDropdownMenu>
    <ul class="p-10">
      <li [ngClass]="{'mb-5': !isLast}" *ngFor="let option of priorities; last as isLast">
        <div class="priority pointer" [ngClass]="option" (click)="select.next(option); drop.toggle()">
          {{option | titlecase}}
        </div>
      </li>
    </ul>
  </div>
</div>


