<input type="text"
       class="clean date-input va-middle"
       mask="00/00/0000"
       [dropSpecialCharacters]="false"
       [showMaskTyped]="true"
       [ngModel]="dateInput"
       (ngModelChange)="onModelChange($event)">

<app-datepicker-dropdown [timestamp]="timestamp" (selectDate)="onSelectDate($event)">
  <i class="icon-screen"></i>
</app-datepicker-dropdown>
