<app-confirm-exit *ngIf="showExitConfirmation" (confirm)="onConfirmExit()" (cancel)="onCancelExit()"></app-confirm-exit>

<app-confirm-delete *ngIf="showDeleteConfirmation" (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()"></app-confirm-delete>

<div class="well content content-sm pt-10 pb-15 pr-15 pl-15" fxLayout="column">
  <app-menu-actions [showSave]="true" [saving]="saving" (save)="save()" (back)="goBack()"></app-menu-actions>

  <div class="mt-30" fxFlex fxLayout="column" fxLayoutAlign="space-between space-between">
    <div>
      <form [formGroup]="noteForm">
        <input type="text" placeholder="Title" class="clean text-lg mb-10" formControlName="title">

        <textarea *ngIf="type === 'text'" class="clean mb-30" placeholder="Note text" rows="22" formControlName="body"></textarea>

        <div *ngIf="type === 'checklist'" >
          <app-note-checklist [formGroup]="noteForm"
                              (add)="onAddChecklistItem($event)"
                              (delete)="onRemoveChecklistItem($event)">
          </app-note-checklist>
        </div>

        <div *ngIf="type === 'drawing'">
          <app-canvas [url]="getDrawingUrl()"
                      [color]="color"
                      [eraser]="eraser"
                      (drawingChanged)="onDrawingChanged($event)">
          </app-canvas>
        </div>

        <div *ngIf="type === 'recording'">
          <app-note-recording [url]="getRecordingUrl()"
                              [formGroup]="noteForm"
                              (audioCreated)="onAudioCreated($event)">
          </app-note-recording>
        </div>
      </form>
    </div>

    <div>
      <app-note-actions [isEdit]="isEdit" (delete)="onDelete()" (setReminder)="onSetReminder()">
        <div *ngIf="type === 'drawing'" fxLayout="row">
          <app-color-picker class="mr-10" [color]="color" (changeColor)="onChangeColor($event)"></app-color-picker>

          <i class="icon-eraser pointer mr-10" (click)="toggleEraser()" [ngClass]="{'active': eraser}"></i>
        </div>
      </app-note-actions>
    </div>
  </div>

</div>
