<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <i class="icon-search mr-10"></i>
  </div>
  <div class="search-panel" ngbDropdownMenu>
    <div class="p-10" fxLayout="row" fxLayoutAlign="left baseline">
      <i class="icon-search mr-10"></i>
      <input type="text"
             class="clean"
             placeholder="Search"
             [ngModel]="searchTerm"
             (ngModelChange)="updateSearch.next($event)">
      <a class="pointer" (click)="drop.toggle()">Cancel</a>
    </div>
  </div>
</div>


