<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <ng-content></ng-content>
  </div>
  <div ngbDropdownMenu>
    <ngb-datepicker #d [ngModel]="date" (dateSelect)="onSelectDate($event); drop.toggle()"></ngb-datepicker>
  </div>
</div>
