<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div ngbDropdownAnchor class="pointer" (click)="drop.toggle()">
    <b class="mr-5" *ngIf="!user">Select</b>
    <b class="mr-5" *ngIf="user">{{user.name}}</b>
    <fa-icon icon="chevron-down" size="xs" *ngIf="showDropdownIcon"></fa-icon>
  </div>
  <div class="dropdown-lg radius-sm user-dropdown" ngbDropdownMenu>
    <div class="pt-5 pb-5 pr-10 pl-10" fxLayout="row">
      <i class="icon-tag mr-5 text-muted"></i>
      <input type="text" class="clean" placeholder="Start typing a name" [(ngModel)]="searchTerm">
    </div>
    <ul>
      <li class="option pointer pt-5 pb-5 pr-15 pl-30"
          *ngFor="let user of users | usersSearch:searchTerm"
          (click)="select.next(user.id); drop.toggle()">
        {{user.name}}
      </li>
    </ul>
  </div>
</div>


