<div class="d-inline-block" ngbDropdown #drop="ngbDropdown">
  <div class="pointer" ngbDropdownAnchor (click)="drop.toggle()">
    <i class="icon-tag pointer"></i>
  </div>
  <div class="dropdown-lg radius-sm user-dropdown" ngbDropdownMenu>
    <ul>
      <li class="option pointer pt-5 pb-5 pr-15 pl-30" *ngFor="let user of users" (click)="drop.toggle()">
        {{user.name}}
      </li>
    </ul>
  </div>
</div>
