<div class="pl-15 pr-15 pt-15 pb-15 items-list" [style.maxHeight]="getHeight()">
  <div class="mb-5" *ngFor="let item of items" >
    <app-item [item]="item" [type]="type"></app-item>
  </div>
</div>
