<div class="pt-5 pb-5 pl-30 pr-30 br-b note" (click)="edit()">

  <div class="mb-5" *ngIf="note.title">
    <h2 class="truncate">{{note.title}}</h2>
  </div>
  <div class="mb-5" *ngIf="!note.title" fxLayout="row" fxLayoutAlign="left baseline">
    <h2 class="mr-5">{{getTitle()}}</h2>
    <div class="text-sm">{{note.modifiedTimestamp | amDateFormat:'MMMM Do YY, h:mm a' }}</div>
  </div>
  <div class="truncate mb-5 text-muted" *ngIf="note.body">{{note.body}}</div>

  <div class="mb-5" *ngIf="note.checklist && note.checklist.length" fxLayout="row" fxLayoutAlign="left flex-end">
    <ul fxFlex="45">
      <li *ngFor="let item of note.checklist.slice(0, 2)">
        <fa-icon class="mr-5" icon="check" size="xs" *ngIf="item.done"></fa-icon>
        <fa-icon class="mr-5" icon="circle" size="xs" *ngIf="!item.done"></fa-icon>
        {{item.text}}
      </li>
    </ul>

    <ul fxFlex="45">
      <li *ngFor="let item of note.checklist.slice(2, 4)">
        <fa-icon class="mr-5" icon="check" size="xs" *ngIf="item.done"></fa-icon>
        <fa-icon class="mr-5" icon="circle" size="xs" *ngIf="!item.done"></fa-icon>
        {{item.text}}
      </li>
    </ul>

    <div fxFlex="10" *ngIf="note.checklist.length > 4">...</div>
  </div>


  <div class="note-info" fxLayout="row" fxLayoutAlign="space-between flex-end">
    <i [ngClass]="getIcon()"></i>
    <div class="text-sm">{{note.modifiedTimestamp | amTimeAgo }}</div>
  </div>
</div>
